workflows:
  version: 2
  main:
    jobs:
      - build:
          filters:
            branches:
              only: master

version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    environment:
      REACT_APP_DOMAIN: $REACT_APP_DOMAIN
      REACT_APP_BE_URL: $REACT_APP_BE_URL
      REACT_APP_FB_ID: $REACT_APP_FB_ID
      REACT_APP_MAPBOX_TOKEN: $REACT_APP_MAPBOX_TOKEN
      REACT_APP_SUPPORT_EMAIL: $REACT_APP_SUPPORT_EMAIL

    working_directory: ~/repo

    steps:
      - run:
            name: "Setup custom environment variables"
            command: echo 'export MY_ENV_VAR="FOO"' >> $REACT_APP_DOMAIN echo 'export MY_ENV_VAR="FOO"' >> $REACT_APP_FB_ID
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      #- run: yarn test

      - run: CI= yarn build

      - run: yarn netlify:deploy