@font-face {
    font-family: 'CPFont';
    src: url('../CPFont.ttf') format('truetype');
}

body {
    background-color: #000;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding: 35vh 10vw;
}

#landing-header h1 {
    font-family: 'CPFont';
    font-size: 3rem;
    color: #fff;
}

#landing-header h4 {
    font-family: 'CPFont';
    font-size: 1.6rem;
    color: #fff;
}


.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url(https://lh3.googleusercontent.com/z_6Kyq_sTnTCw-LhpRaorfJVQNiNpmwYDQ5HSYJZxdeRlVG9h8JgHsvt3uj_18rJS9U0DbpxkywoQ70dzQKch2B3AkXnSMJoZjB1H1ysu30tMrOXUclZWPd3f5jT70XMUnhTZ-OQzlTejf70dbQ7J0Jl3Ghy-936E4SXJejzjXhs0b_t7mGl59JcW2GjS6iI_imcFDflKkKNS6Yml5lA8-QjijUu8jmLmy2fKO2D50VzvWouNtk1s8_k2JSrzRaZipli_LBkEbwtl5bwGp2fvQbF7o_5GXH6dM2HQgh7hnCdgxL_OK9q0QmVuR4dGr9ZgrsmlFKp1VzYwoTwe21dY4Sb_mviiuMGpSvD_JAY03wEssGfLtA_ZBy_Zk0jMWH8lueQsOzPkQy5HJV5aGqps_SJ4kAxU8QsQUX2FjBcO_irLCG44KEQUGXBp9Q3ho7wZl_-UZTLpE7tEcJmKs-VQZjN5AuUoIchJm6tPwpjjLWrnSXO5fIdZMTr20Hszi1GOuUujNJYb1IP4gbWtpnvSxrRN4_N_Jeqb-IOUgR8c5zo-Fcoy8T8O5LaDYOHxmolGeb1bbZKZfjcHnh26grleND859e6GppGcYQpIqLIrp3TH8-bIuo-bqkQO5a0aiT--eZEJONwWGG1emsdSqW3QvvPamN3LwMz5ggMVzT7eZIzpYTqNWyAlcyA96XMIWp3YDy7i8Vw3zZZ5Cvplg8lIGOn4Kokytdn4rj460Zf38tXUjJN7MvzFj1q=w1440-h664-no?authuser=0)
}

.slideshow li:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1538128844159-f08f41bfb169?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1328&q=80);
    animation-delay: 10s;
}

.slideshow li:nth-child(3) {
    background-image: url(https://images.unsplash.com/reserve/oHPXcFZQ9SyeGD5F7T1g_ramenya.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    animation-delay: 20s;
}

.slideshow li:nth-child(4) {
    background-image: url(https://images.unsplash.com/photo-1522957830388-0bea7607eed6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    animation-delay: 30s;
}

.slideshow li:nth-child(5) {
    background-image: url(https://images.unsplash.com/photo-1558554970-1e3279cd745d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
    animation-delay: 40s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    20% {
        opacity: 1
    }

    30% {
        opacity: 0
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}