.modal-lg {
    width: 75vw;
    max-width: 1200px;
}

.container-fluid {
    width: 90vw;
    padding: 20px;
    margin-top: 40px
}

.city {
    color: #fff;
    background-color: #f5ac53;
    border-color: #f5ac53;
}

.topleft {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 50%;
}

.topright {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 80%;
}


.card-body {

    overflow-y: scroll !important;

}

hr {
    border-top: 1px solid #003269;
    opacity: 20%
}

.card {
    background-color: #FFFFFF;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

}

.card img {
    border-radius: 10px 10px 5px 5px;

}

.card:hover {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    color: black;
}

.card-footer a {
    color: white
}

/*---------- star rating ----------*/

.back-stars,
.front-stars {
    display: flex;
}

.star-rating {
    display: inline-block;
    align-items: center;
    font-size: 2em;
    justify-content: center;
    /* margin-top: 50px; */
}

.back-stars {
    color: gray;
    position: relative;
    /*  text-shadow: 4px 4px 10px #843a3a; */
}

.front-stars {
    color: #FFBC0B;
    overflow: hidden;
    position: absolute;
    /*  text-shadow: 2px 2px 5px #d29b09; */
    top: 0;
    transition: all 0.5s;
}

.input-group-append {
    background-color: #fff;
}

.input-group-append>button>i {
    font-size: 0.5rem;
}

.mapboxgl-popup-content p {
    font-size: 0.9rem
}