.TNK {
    color: #fff;
    background-color: #e64958;
    border-color: #e64958;
}

.TCM {
    color: #fff;
    background-color: #f5ac53;
    border-color: #f5ac53;
}

.CCT {
    color: #fff;
    background-color: #ffc821;
    border-color: #ffc821;
}

.YCN {
    color: #fff;
    background-color: #33ab43;
    border-color: #33ab43;
}

.KP {
    color: #fff;
    background-color: #3337f5;
    border-color: #3337f5;
}

.YHT {
    color: #fff;
    background-color: #8533ff;
    border-color: #8533ff;
}

.PCM {
    color: #fff;
    background-color: #f56cf0;
    border-color: #f56cf0;
}

.topleft {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 50%;
}

.topright {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 80%;
}


.card-body {

    overflow-y: scroll !important;

}

hr {
    border-top: 1px solid #003269;
    opacity: 20%
}

.card {
    background-color: #FFFFFF;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.card img {
    border-radius: 10px 10px 5px 5px;

}

.card:hover {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    color: black;
}

.card-footer a {
    color: white
}